<ion-view title="Conversaciones">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/9w5jpaVStaq5XLw9Socw_1.jpg">
                <h2>Roxana Lopez</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus metus eget erat sodales, et volutpat ante efficitur. Pellentesque rutrum nisl quis metus euismod consequat</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/6vMhP9IuS2y72YZUEeQF_4.jpg">
                <h2>Mariana Marltes</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus metus eget erat sodales, et volutpat ante efficitur. Pellentesque rutrum nisl quis metus euismod consequat</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/MFdSPYvxS2eUeTY8HK6A_3.jpg">
                <h2>Lucas Martino</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus metus eget erat sodales, et volutpat ante efficitur. Pellentesque rutrum nisl quis metus euismod consequat</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/0GsV4Bu9SLWkHlieN9Yr_2.jpg">
                <h2>Virginia Trosler</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus metus eget erat sodales, et volutpat ante efficitur. Pellentesque rutrum nisl quis metus euismod consequat</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>