<ion-view title="Perfil">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>
                <strong>Juan Perez Gonzales!</strong>
                34 Años</p>
        </div>
        <div style="border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
             <img src="img/PhcEx1TY6EduN7YwrDow_5.jpg" style="width: 100%">
        </div>
        <div class="list card">
            <div class="item item-divider">Cantidad de Credito</div>
            <div class="item item-body">
                <div>
                    <p>Utilizables:
                        <strong>1.200</strong>
                    </p>
                </div>
                <div>
                    <p>Enviados:
                        <strong>567</strong>
                    </p>
                </div>
                <div>
                    <p>Recibidos:
                        <strong>3546</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Posición en Ranking</div>
            <div class="item item-body">
                <div>
                    <p>
                        <strong>#132</strong>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>