<div id="login" ng-controller="loginController">
	<div class="grad"></div>
	<div class="contenedor">
		<div id="logo">
			<div><img src="./images/logo_off.png" alt="NO HAY IMAGEN" style="max-height: 100px; margin: auto;" class="img-responsive"></div>
		</div>	
		<div id="form_login">
			<p style="color: white;">Lukas necesita de internet para despertar...</p>
			<button type="submit">
				<span ng-click="actualizarPantalla()">REFRESCAR</span>
			</button>
		</div>		
    </div> <!-- /.container -->
</div>